<li data-id="{{id}}" class="arround__item">
    <div class="arround-info">
        <span class="arround-name">{{name}}</span>
        <span class="arround-price"><span class="arround-currency">грн</span> {{price}}</span>
    </div>
    <img src="{{mainImg}}" alt="{{name}}" class="arround-img">
</li>