{{!-- <img class="js-avatar avatar avatar--hover" src="{{avatar}}"
        alt="Пользователя: {{firstName}} {{secondName}}" width="44" height="44"> --}}

{{!-- ========================================================================================== --}}
<img class="avatar avatar-shadow" src="https://i.ibb.co/K7j3rZk/99-512.png" alt="User avatar" width="85" height="85">
{{!-- ========================================================================================== --}}


{{!-- <div class="modal-backdrop moodal-backdrop__my-account"> --}}
{{!-- <div class="account-wrapper">
  <span class="modal__icon--close close__my-account"></span>
  <div class="user-avatar fileForm">
    <input class="user-avatar__file-input" type="file" name="fileFormInput" id="file-reader"> --}}
{{!-- <img class="js-avatar avatar avatar--hover" src="{{avatar}}"
        alt="Пользователя: {{firstName}} {{secondName}}" width="44" height="44"> --}}

{{!-- ========================================================================================== --}}
{{!-- <img class="js-avatar avatar avatar-shadow" src="https://i.ibb.co/K7j3rZk/99-512.png" alt="User avatar" width="85"
      height="85"> --}}
{{!-- ========================================================================================== --}}

{{!-- <label class="user-avatar__input-label" for="file-reader">
      <span class="user-avatar__add-btn avatar__icon--camera__add">
        <span class="visually-hidden">Load new avatar</span>
      </span>
    </label>

    <label class="user-avatar__input-label">
      <span class="user-avatar__clear-btn avatar__icon--camera__clear">
        <span class="visually-hidden">Clear your avatar</span>
      </span>
    </label>
  </div>

  <ul class="user-info"> --}}
{{!-- ========================================================================================== --}}
{{!-- <li class="user-info__fullname">User Name</li>
    <li class="user-info__mail">test@gmail.com</li>
    <li class="user-info__phone">+38 (063) 123-45-67</li> --}}
{{!-- ========================================================================================== --}}
{{!-- </ul> --}}

{{!-- <li class="user-info__fullname">{{firstName}} {{secondName}}</li>
      <li class="user-info__mail">{{email}}</li>
      <li class="user-info__phone">{{phone}}</li> --}}
{{!--
  <ul class="account-list hr--line">
    <li class="account-list__favorites icon--heart">
      <span class="account-list__favorites-link">Избранное</span>
      <span class="js-counter__heart counter">0</span>
    </li>
    <li class="account-list__advertisement icon--add">
      <span class="account-list__advertisement-link">Мои объявления</span>
      <span class="js-counter__add counter">0</span>
    </li>
  </ul>
  <button class="account-logout icon--logout auth-form-sign-out" data-btn="signout">Выйти</button>
</div> --}}
{{!-- </div> --}}
