{{!-- {{#each this}}
        <li class="selected-goods__item">
          <img class="selected-goods__item-img" src="{{image}}" alt="{{descGoods}}" width="220" height="180">
          <div class="selected-goods__item-block__info">
            <h4 class="selected-goods__item-title">{{title}}</h4>
            <span class="selected-goods__item-price">{{price}} грн</span>
            <p class="selected-goods__item-desc">{{description}}</p>
          </div>
          <span class="selected-goods__item-icon">
            <span class="selected-goods__icon-text">Удалить <span class="selected-goods__icon-text--hidden">с
                избранных</span></span>
          </span>
        </li>
        {{/each}} --}}


{{!-- ========================================================================================== --}}
<li class="selected-goods__item">
  <img class="selected-goods__item-img" src="https://i.ibb.co/4W1qFHZ/1.jpg" alt="test goods 1" width="220"
    height="180">
  <div class="selected-goods__item-block__info">
    <h4 class="selected-goods__item-title">Victrola Vintage</h4>
    <span class="selected-goods__item-price">1,200 грн</span>
    <p class="selected-goods__item-desc">Давно выяснено, что при оценке дизайна
      и композиции читаемый текст мешает сосредоточиться...</p>
  </div>
  <span class="selected-goods__item-icon">
    <span class="selected-goods__icon-text">Удалить <span class="selected-goods__icon-text--hidden">с
        избранных</span></span>
  </span>
</li>
<li class="selected-goods__item">
  <img class="selected-goods__item-img" src="https://i.ibb.co/XDwtQXQ/6.jpg" alt="test goods 2" width="220"
    height="180">
  <div class="selected-goods__item-block__info">
    <h4 class="selected-goods__item-title">Acer SB220Q bi 21.5 inches</h4>
    <span class="selected-goods__item-price">3,100 грн</span>
    <p class="selected-goods__item-desc">Давно выяснено, что при оценке дизайна
      и композиции читаемый текст мешает сосредоточиться...</p>
  </div>
  <span class="selected-goods__item-icon">
    <span class="selected-goods__icon-text">Удалить <span class="selected-goods__icon-text--hidden">с
        избранных</span></span>
  </span>
</li>
<li class="selected-goods__item">
  <img class="selected-goods__item-img" src="https://i.ibb.co/yp88J5C/3.jpg" alt="test goods 3" width="220"
    height="180">
  <div class="selected-goods__item-block__info">
    <h4 class="selected-goods__item-title">PlayStation 4 Pro 1TB Console</h4>
    <span class="selected-goods__item-price">10,500 грн</span>
    <p class="selected-goods__item-desc">Давно выяснено, что при оценке дизайна
      и композиции читаемый текст мешает сосредоточиться...</p>
  </div>
  <span class="selected-goods__item-icon">
    <span class="selected-goods__icon-text">Удалить <span class="selected-goods__icon-text--hidden">с
        избранных</span></span>
  </span>
</li>
<li class="selected-goods__item">
  <img class="selected-goods__item-img" src="https://i.ibb.co/Rpv2hZ7/71-abl-W-2-XL-AC-SL1001.jpg" alt="test goods 4"
    width="220" height="180">
  <div class="selected-goods__item-block__info">
    <h4 class="selected-goods__item-title">SKI Over Glasses Console</h4>
    <span class="selected-goods__item-price">1,200 грн</span>
    <p class="selected-goods__item-desc">Давно выяснено, что при оценке дизайна
      и композиции читаемый текст мешает сосредоточиться...</p>
  </div>
  <span class="selected-goods__item-icon">
    <span class="selected-goods__icon-text">Удалить <span class="selected-goods__icon-text--hidden">с
        избранных</span></span>
  </span>
</li>
<li class="selected-goods__item">
  <img class="selected-goods__item-img" src="https://i.ibb.co/8dmf8Kw/81eznzv-Az-L-AC-SL1500.jpg" alt="test goods 5"
    width="220" height="180">
  <div class="selected-goods__item-block__info">
    <h4 class="selected-goods__item-title">Exercise Yoga Mat</h4>
    <span class="selected-goods__item-price">250 грн</span>
    <p class="selected-goods__item-desc">Давно выяснено, что при оценке дизайна
      и композиции читаемый текст мешает сосредоточиться...</p>
  </div>
  <span class="selected-goods__item-icon">
    <span class="selected-goods__icon-text">Удалить <span class="selected-goods__icon-text--hidden">с
        избранных</span></span>
  </span>
</li>
{{!-- ========================================================================================== --}}

{{!-- <div class="modal-backdrop moodal-backdrop__favorites"> --}}

{{!-- <div class="selected-goods__inner">
  <span class="modal__icon--close close__favorites"></span>
  <div class="selected-goods">
    <h3 class="selected-goods__title icon--heart-on">Избранное</h3>
    <ul class="selected-goods__list"> --}}

{{!-- {{#each this}}
        <li class="selected-goods__item">
          <img class="selected-goods__item-img" src="{{image}}" alt="{{descGoods}}" width="220" height="180">
          <div class="selected-goods__item-block__info">
            <h4 class="selected-goods__item-title">{{title}}</h4>
            <span class="selected-goods__item-price">{{price}} грн</span>
            <p class="selected-goods__item-desc">{{description}}</p>
          </div>
          <span class="selected-goods__item-icon">
            <span class="selected-goods__icon-text">Удалить <span class="selected-goods__icon-text--hidden">с
                избранных</span></span>
          </span>
        </li>
        {{/each}} --}}

{{!-- ========================================================================================== --}}
{{!-- <li class="selected-goods__item">
        <img class="selected-goods__item-img" src="https://i.ibb.co/4W1qFHZ/1.jpg" alt="test goods 1" width="220"
          height="180">
        <div class="selected-goods__item-block__info">
          <h4 class="selected-goods__item-title">Victrola Vintage</h4>
          <span class="selected-goods__item-price">1,200 грн</span>
          <p class="selected-goods__item-desc">Давно выяснено, что при оценке дизайна
            и композиции читаемый текст мешает сосредоточиться...</p>
        </div>
        <span class="selected-goods__item-icon">
          <span class="selected-goods__icon-text">Удалить <span class="selected-goods__icon-text--hidden">с
              избранных</span></span>
        </span>
      </li>
      <li class="selected-goods__item">
        <img class="selected-goods__item-img" src="https://i.ibb.co/XDwtQXQ/6.jpg" alt="test goods 2" width="220"
          height="180">
        <div class="selected-goods__item-block__info">
          <h4 class="selected-goods__item-title">Acer SB220Q bi 21.5 inches</h4>
          <span class="selected-goods__item-price">3,100 грн</span>
          <p class="selected-goods__item-desc">Давно выяснено, что при оценке дизайна
            и композиции читаемый текст мешает сосредоточиться...</p>
        </div>
        <span class="selected-goods__item-icon">
          <span class="selected-goods__icon-text">Удалить <span class="selected-goods__icon-text--hidden">с
              избранных</span></span>
        </span>
      </li>
      <li class="selected-goods__item">
        <img class="selected-goods__item-img" src="https://i.ibb.co/yp88J5C/3.jpg" alt="test goods 3" width="220"
          height="180">
        <div class="selected-goods__item-block__info">
          <h4 class="selected-goods__item-title">PlayStation 4 Pro 1TB Console</h4>
          <span class="selected-goods__item-price">10,500 грн</span>
          <p class="selected-goods__item-desc">Давно выяснено, что при оценке дизайна
            и композиции читаемый текст мешает сосредоточиться...</p>
        </div>
        <span class="selected-goods__item-icon">
          <span class="selected-goods__icon-text">Удалить <span class="selected-goods__icon-text--hidden">с
              избранных</span></span>
        </span>
      </li>
      <li class="selected-goods__item">
        <img class="selected-goods__item-img" src="https://i.ibb.co/Rpv2hZ7/71-abl-W-2-XL-AC-SL1001.jpg"
          alt="test goods 4" width="220" height="180">
        <div class="selected-goods__item-block__info">
          <h4 class="selected-goods__item-title">SKI Over Glasses Console</h4>
          <span class="selected-goods__item-price">1,200 грн</span>
          <p class="selected-goods__item-desc">Давно выяснено, что при оценке дизайна
            и композиции читаемый текст мешает сосредоточиться...</p>
        </div>
        <span class="selected-goods__item-icon">
          <span class="selected-goods__icon-text">Удалить <span class="selected-goods__icon-text--hidden">с
              избранных</span></span>
        </span>
      </li>
      <li class="selected-goods__item">
        <img class="selected-goods__item-img" src="https://i.ibb.co/8dmf8Kw/81eznzv-Az-L-AC-SL1500.jpg"
          alt="test goods 5" width="220" height="180">
        <div class="selected-goods__item-block__info">
          <h4 class="selected-goods__item-title">Exercise Yoga Mat</h4>
          <span class="selected-goods__item-price">250 грн</span>
          <p class="selected-goods__item-desc">Давно выяснено, что при оценке дизайна
            и композиции читаемый текст мешает сосредоточиться...</p>
        </div>
        <span class="selected-goods__item-icon">
          <span class="selected-goods__icon-text">Удалить <span class="selected-goods__icon-text--hidden">с
              избранных</span></span>
        </span>
      </li> --}}
{{!-- ========================================================================================== --}}

{{!-- </ul>
  </div>
</div> --}}

{{!-- </div> --}}
