{{!-- {{#each this}}
        <li class="my-ads__item">
          <img class="my-ads__item-img" src="{{image}}" alt="{{descGoods}}" width="220" height="180">
          <div class="my-ads__item-block__info">
            <h4 class="my-ads__item-title">{{title}}</h4>
            <span class="my-ads__item-price">{{price}} грн</span>
            <p class="my-ads__item-desc">{{description}}</p>
          </div>
          <span class="my-ads__item-icon">
            <span class="my-ads__icon-text">Удалить</span>
          </span>
        </li>
        {{/each}} --}}

{{!-- ========================================================================================== --}}
<li class="my-ads__item">
  <img class="my-ads__item-img" src="https://i.ibb.co/yp88J5C/3.jpg" alt="test goods 3" width="220" height="180">
  <div class="selected-goods__item-block__info">
    <h4 class="my-ads__item-title">PlayStation 4 Pro 1TB Console</h4>
    <span class="my-ads__item-price">10,500 грн</span>
    <p class="selected-goods__item-desc">Давно выяснено, что при оценке дизайна
      и композиции читаемый текст мешает сосредоточиться...</p>
  </div>
  <span class="my-ads__item-icon">
    <span class="my-ads__icon-text">Удалить</span>
  </span>
</li>
<li class="my-ads__item">
  <img class="my-ads__item-img" src="https://i.ibb.co/Rpv2hZ7/71-abl-W-2-XL-AC-SL1001.jpg" alt="test goods 4"
    width="220" height="180">
  <div class="selected-goods__item-block__info">
    <h4 class="my-ads__item-title">SKI Over Glasses Console</h4>
    <span class="my-ads__item-price">1,200 грн</span>
    <p class="selected-goods__item-desc">Давно выяснено, что при оценке дизайна
      и композиции читаемый текст мешает сосредоточиться...</p>
  </div>
  <span class="my-ads__item-icon">
    <span class="my-ads__icon-text">Удалить</span>
  </span>
</li>
<li class="my-ads__item">
  <img class="my-ads__item-img" src="https://i.ibb.co/8dmf8Kw/81eznzv-Az-L-AC-SL1500.jpg" alt="test goods 5" width="220"
    height="180">
  <div class="selected-goods__item-block__info">
    <h4 class="my-ads__item-title">Exercise Yoga Mat</h4>
    <span class="my-ads__item-price">250 грн</span>
    <p class="selected-goods__item-desc">Давно выяснено, что при оценке дизайна
      и композиции читаемый текст мешает сосредоточиться...</p>
  </div>
  <span class="my-ads__item-icon">
    <span class="my-ads__icon-text">Удалить</span>
  </span>
</li>
{{!-- ========================================================================================== --}}


{{!-- <div class="modal-backdrop moodal-backdrop__my-ads"> --}}
{{!-- <div class="my-ads__inner">
  <span class="modal__icon--close close__my-ads"></span>
  <div class="my-ads">
    <h3 class="my-ads__title icon--pencil-on">Мои объявления</h3>
    <ul class="my-ads__list"> --}}

{{!-- {{#each this}}
        <li class="my-ads__item">
          <img class="my-ads__item-img" src="{{image}}" alt="{{descGoods}}" width="220" height="180">
          <div class="my-ads__item-block__info">
            <h4 class="my-ads__item-title">{{title}}</h4>
            <span class="my-ads__item-price">{{price}} грн</span>
            <p class="my-ads__item-desc">{{description}}</p>
          </div>
          <span class="my-ads__item-icon">
            <span class="my-ads__icon-text">Удалить</span>
          </span>
        </li>
        {{/each}} --}}

{{!-- ========================================================================================== --}}
{{!-- <li class="my-ads__item">
        <img class="my-ads__item-img" src="https://i.ibb.co/yp88J5C/3.jpg" alt="test goods 3" width="220" height="180">
        <div class="selected-goods__item-block__info">
          <h4 class="my-ads__item-title">PlayStation 4 Pro 1TB Console</h4>
          <span class="my-ads__item-price">10,500 грн</span>
          <p class="selected-goods__item-desc">Давно выяснено, что при оценке дизайна
            и композиции читаемый текст мешает сосредоточиться...</p>
        </div>
        <span class="my-ads__item-icon">
          <span class="my-ads__icon-text">Удалить</span>
        </span>
      </li>
      <li class="my-ads__item">
        <img class="my-ads__item-img" src="https://i.ibb.co/Rpv2hZ7/71-abl-W-2-XL-AC-SL1001.jpg" alt="test goods 4"
          width="220" height="180">
        <div class="selected-goods__item-block__info">
          <h4 class="my-ads__item-title">SKI Over Glasses Console</h4>
          <span class="my-ads__item-price">1,200 грн</span>
          <p class="selected-goods__item-desc">Давно выяснено, что при оценке дизайна
            и композиции читаемый текст мешает сосредоточиться...</p>
        </div>
        <span class="my-ads__item-icon">
          <span class="my-ads__icon-text">Удалить</span>
        </span>
      </li>
      <li class="my-ads__item">
        <img class="my-ads__item-img" src="https://i.ibb.co/8dmf8Kw/81eznzv-Az-L-AC-SL1500.jpg" alt="test goods 5"
          width="220" height="180">
        <div class="selected-goods__item-block__info">
          <h4 class="my-ads__item-title">Exercise Yoga Mat</h4>
          <span class="my-ads__item-price">250 грн</span>
          <p class="selected-goods__item-desc">Давно выяснено, что при оценке дизайна
            и композиции читаемый текст мешает сосредоточиться...</p>
        </div>
        <span class="my-ads__item-icon">
          <span class="my-ads__icon-text">Удалить</span>
        </span>
      </li> --}}
{{!-- ========================================================================================== --}}
{{!-- </ul>
  </div>
</div> --}}
{{!-- </div> --}}
