{{#each this}}
<li class="my-ads__item">
  <img class="my-ads__item-img" src="{{mainImg}}" alt="{{name}}" width="220" height="180">
  <div class="my-ads__item-block__info">
    <h4 class="my-ads__item-title">{{name}}</h4>
    <span class="my-ads__item-price">{{price}} грн</span>
    <p class="my-ads__item-desc">{{description}}</p>
  </div>
  <span class="my-ads__item-icon">
    <span class="my-ads__icon-text">Удалить</span>
  </span>
</li>
{{/each}}
