<li data-id="{{id}}" class="block-item">
    <div class="item-main-info">
        <img src="{{mainImg}}" alt="{{name}}" class="item-img">
        <div class="item-info">
            <span class="item-name">{{name}}</span>
            <span class="item-price"><span class="item-currency">грн</span>{{price}}</span>
        </div>
    </div>
</li>