<li data-id="{{id}}" class="block-item">
    <div class="item-main-info">
        <img src="{{image}}" alt="{{name}}" class="item-img">
        <div class="item-info">
            <span class="item-name">{{name}}</span>
            <span class="item-price">{{price}} <span class="item-currency">pln</span></span>
        </div>
    </div>
</li>